@import "styles/variables";

.jobsContainer {
  display: grid;
  justify-content: center;
  grid-template-areas:
      ". . job1 job1"
      "job2 job2 job1 job1"
      "job2 job2 job3 job3"
      ". . job3 job3";
  padding: 10px;
  grid-gap: 80px;
}

@mixin job {

  justify-content: center;
  font-style: initial;
  display: grid;
  width: 380px;
  justify-items: center;
  height: 525px;

  background: #FFFFFF;

  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;

}

.job1 {
  @include job;
  grid-area: job1;

  svg {
    margin-top: -25px;
  }
}

.job2 {
  @include job;
  grid-area: job2;

}

.job3 {
  @include job;
  grid-area: job3;
}
.jobDetails {
  padding: 48px;
}

.jobDetailsTitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 1000;
  letter-spacing: 0.05em;

  /* Blue_01 */

  color: #1F3F68;
}