.inputContainer {
}

.nameInput {
  width: 50%;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 1px solid #222;
  background: #FEFEFE;
  margin-bottom: 100px;
  font-size: 34px;

  &::-webkit-input-placeholder{
    font-size: 32px;
  }
}
