@mixin navFont {
  font-family: 'Archivo Black', sans-serif;
  font-size: 15px;
}

.navbar {
  color: #fff;
  position: relative;
  height: 100px;
}

.navbarContainer {
  margin: 0 auto;
  text-align: center;
  max-width: 1100px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.menu {
  & ul {
    list-style: none;

    & > li {
      margin: 0 15px;
      display: inline-block;
      @include navFont;
    }
  }
}

.me {
  font-family: 'Pacifico', cursive;
  font-size: 45px;

  &:hover {
    cursor: default;
  }
}

.contact {
  @include navFont;
}
