@import "styles/_variables";

$card-info-height : 900;
$card-height : 720;

.cardContainer {
  background: #fff;
  height: $card-height + px;
  width: 1200px;
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;

}

.cardImage {
  height: $card-height + px;
  width: 1200px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.8;
}

.projectContainer {
  height: 1000px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 10%;

  @include tablet {
    height: 100%;

  }
}

.animationContainer {
  position: relative;
  height: $card-height + px;
  width: 1200px;
  overflow: hidden;
  border-radius: 5px;
  @include tablet {
    display: none;
  }
}


.cardInfoContainer {

  height: $card-info-height + px;
  display: block;
  width: 600px;
  position: absolute;
  top: 5%;
  left: 15%;
  z-index: 1;
  overflow: hidden;
  opacity: 1;

  @include tablet {
    position: relative;
    width: 90%;
    left: unset;
    border-radius: 15px;
    margin: auto auto 150px;
  }
}

.cardInfoOverlay {
  height: $card-info-height + px;
  display: block;
  width: 600px;
  background: #fefefe;
  position: relative;
  z-index: 2;
}

.projectDetailsContainer {
  width: 100%;
  position: relative;
}

.cardInfoDetails {
  padding-top: 50px;
  position: absolute;
  width: 600px;
  height: $card-info-height + px;
  background: #fff;
  font-family: 'Bigshot One', cursive;
  font-size: 28px;
  font-weight: 700;
  line-height: 4.5rem;
  text-align: center;
  top: 0;
  z-index: 1;
  border-radius: 5px;

  & > h2 {
    margin: 0;
  }

  @include tablet {
    width: 100%;
  }
}

.projectDetails {
  width: 90%;
  text-align: left;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
  line-height: 2.5rem;
  letter-spacing: -.018rem;
  margin: auto;

  font-family: "Space Grotesk", sans-serif;

  @include tablet {
    font-size: 1.4rem;
  }
}

.myProject {
  font-family: "Space Grotesk", sans-serif;
  font-size: 50px;

}

.itemSkills {
  text-decoration: none;
  list-style: none;
  padding: 0;

  li {
    font-family: monospace;
    border-bottom: 1px dotted #BBB;
    background: #fff;
    color: #222;

    &:nth-child(2n){
      background: #fafafa;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
.website {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  width: 100%;
  background: #6b6ba7;
  color:#fff;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
