.cardContainer {
  background: #fff;
  height: 600px;
  width: 1200px;
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;

}

.cardImage {
  height: 600px;
  width: 1200px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.8;
}

.projectContainer {
  height: 1000px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 10%;
}

.animationContainer {
  position: relative;
  height: 600px;
  width: 1200px;
  overflow: hidden;
  border-radius: 5px;
}


.cardInfoContainer {
  height: 600px;
  display: block;
  width: 600px;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
  overflow: hidden;
  opacity: 1;
}

.cardInfoOverlay {
  height: 600px;
  display: block;
  width: 600px;
  background: #fefefe;
  position: relative;
  z-index: 2;
}

.projectDetailsContainer {
  width: 100%;
  position: relative;
}

.cardInfoDetails {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #fff;
  font-family: 'Bigshot One', cursive;
  font-size: 28px;
  font-weight: 700;
  line-height: 4.5rem;
  text-align: center;
  top: 0;
  z-index: 1;
  border-radius: 5px;

  & > h2 {
    margin: 0;
  }
}

.projectDetails {
  width: 90%;
  text-align: left;
  font-weight: 400;
  font-size: 1.8rem;
  color: #000;
  line-height: 2.5rem;
  letter-spacing: -.018rem;
  margin: auto;

  font-family: "Space Grotesk", sans-serif;
}

.myProject {
  font-family: "Space Grotesk", sans-serif;
  font-size: 50px;

}
