@import "styles/_variables";

.homepage {
  position: relative;

  &:last-child {
    margin-top: -10px;
    margin-bottom: 200px;
  }

  @include large-screen {
    height: 1000px;
    margin-top: -500px;
  }

}


.presentation {
  position: absolute;
  left: 45%;
  z-index: 2;
  transform: translateY( -50%);
}
