@import "styles/_variables";

.homepage {
  position: relative;

  &:last-child {
    margin-top: -10px;
    margin-bottom: 200px;
  }
  height: 800px;

  @include large-screen {
    height: 1000px;
    margin-top: -500px;
  }

}


.presentation {
  position: absolute;
  z-index: 2;
  max-width: 960px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.projectsDivider {
  @include tablet {
    height: 200px;
  }
}
