@import "styles/variables";

.modal {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modalBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.modalBox {
  position: relative;
  height: 75%;
  width: 65%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  @include large-screen {
    height: 85%;
    width: 75%;
  }
  @include phone {
    height: 100%;
    width: 100%;
  }
}

.modalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 10px;
  margin-top: 25px;

  &:nth-child(1) {
    padding-left: 150px;
  }

  &:hover {
    cursor: default;
  }


  span:first-child {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: .24rem;
  }

  a {
    font-family: Butler;
    font-size: 27px;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -.036rem;

    @include large-screen {
      font-size: 24px;
      font-weight: 600;

      &:last-child {
        font-size: 20px;
      }
    }
  }

  @include large-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;

  }
}

.clickableLink {
  border-bottom: 3px solid #cbe3ff;
}

@mixin contactDetail {
  font-size: 20px;
  position: relative;

  &:hover {
    cursor: default;
  }
}

.contactOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;

  @include large-screen {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      margin-top: 45px;
    }
  }
}

.available {
  @include contactDetail;

  &:before {
    content: '';
    position: absolute;
    left: -20%;
    top: 50%;
    bottom: 0;
    right: 0;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #95c11f;

    @include large-screen {
      left: -15%;
      top: 8px;
    }
  }


  @include large-screen {
    position: absolute;
    top: 170px;
    right: 46px;
    font-size: 18px;
  }

  @include tablet {
    top: 158px;
  }


}

.contactDetail {
  @include contactDetail;
}

.modalBody {
  padding: 40px 60px;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-direction: column;

  @include large-screen {
    padding: 40px 20px;
  }
}

.modalFooter {
  position: relative;
}

.modalPattern {
  position: absolute;
  border-radius: 10px;
  bottom: -10px;

  path {
    fill: #087dff36;
  }
}

.closeButton {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.24rem;
  transition: all 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

