@import "styles/variables/colors";

@mixin contactMe {
  color: $light-white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 10px 100px;
  width: 30%;
  border-radius: 50px;
}

.homepageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.particlesContainer {
  position: relative;
}

.whoAmI {

  font-family: 'Source Code Pro', monospace;
  text-align: left;
  display: block;
  position: absolute;
  color: $light-white;
  top: 0;
  left: 50%;
  width: 90%;

  & p {
    font-weight: 500;
  }

  transform: translate(-50%, 0);
}


.rootUser {
  color: greenyellow;
  font-weight: 650;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.contactMe {
  .myInfo {
    display: inline-block;

    &:hover {
      cursor: default;
    }

    transform: rotate(-5deg);
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    margin-bottom: 5px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  @include contactMe;
}

.logo {
  position: absolute;
  height: 280px;
  max-width: 390px;
  z-index: 1;
  left: -62px;
  bottom: 33px;
}

.dotSkills {
  position: absolute;
  font-size: 100px;
  background: rgba(4,189,228,1);
  border-radius: 50%;
  left: 119px;
  top: 92px;
  width: 17px;
  height: 17px;
  z-index: 1;
}

.skills {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 100px;

  color: rgba(4,189,228,1);
  z-index: 1000;

}

.skillsLogoContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: -500px;
  top: 0px;
}

.skillsLogo {
  display: inline-block;
  position: relative;
  height: 200px;
  max-width: 300px;
  margin: 0 40px;

  &:nth-child(2) {
    margin-right: 200px;
    right: 150px;
  }

  &:nth-child(1) {
    right: 150px;
  }

}

.projectsContainer {
  margin-top: -120px;
  background: url("../../public/cool-background.png");
  background-size: cover;
}
