@import "styles/_variables";

@mixin contactMe {
  color: $light-white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 10px 100px;
  width: 70%;
  @include large-screen {
    margin: auto;
  }

  @include phone {
    width: 95%;
  }
  border-radius: 50px;
}

.homepageContainer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  @include large-screen {
    flex-direction: column;
  }
}

.particlesContainer {
  position: relative;
}

.whoAmI {
  font-family: 'Source Code Pro', monospace;
  text-align: left;
  display: block;
  position: absolute;
  color: $light-white;
  top: 0;
  left: 50%;
  width: 90%;
  & p {
    font-weight: 500;
  }
  transform: translate(-50%, 0);

  @include large-screen {
    width: 65%;
    left: 55%;
  }

  @include large-tablet {
    width: 80%;
    left: 60%;
  }

  @include tablet {
    width: 90%;
    left: 50%;
  }

  @include phone {
    line-height:2px;
  }

}


.rootUser {
  font-size: 14px;
  color: greenyellow;
  font-weight: 650;
  @include macbook{
    font-size: 12px;
  }
  @include tablet {
    font-size: 10px;
  }
  @include phone {
    font-size: 5px;
    line-height:2px;
  }
}

.terminalText {
  @extend .rootUser;
  color: #fff;
  font-weight: 400;

}
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.contactMe {
  align-self: baseline;
  .myInfo {
    display: inline-block;

    &:hover {
      cursor: default;
    }

    font-family: 'Bad Script', cursive;
    font-size: 25px;
    margin-bottom: 5px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  @include contactMe;

  @include large-screen {
    margin-bottom: 100px;
    margin-top: 35px;
  }
}

.logo {
  position: absolute;
  height: 280px;
  max-width: 390px;
  z-index: 1;
  left: -62px;
  bottom: 33px;

  @include tablet {
    display: none;
  }
}

.dotSkills {
  position: absolute;
  font-size: 100px;
  background: rgba(4, 189, 228, 1);
  border-radius: 50%;
  left: 119px;
  top: 92px;
  width: 17px;
  height: 17px;
  z-index: 1;
  @include tablet {
    display: none;
  }
}

.skills {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 100px;

  color: rgba(4, 189, 228, 1);
  z-index: 1000;

  @include tablet {
    display: none;
  }

}

.skillsLogoContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: -500px;
  top: 0px;

  @include large-screen {
    flex-direction: column;
    left: 50%;
    top: 50%;
    height: 600px;
    transform: translate(-50%, -50%);
    img {
      display: inline-block;
      margin: 0;
      right: unset;
      object-fit: scale-down;;
    }
  }
}

.skillsLogo {
  display: inline-block;
  position: relative;
  height: 200px;
  max-width: 300px;
  margin: 0 40px;

  &:nth-child(2) {
    margin-right: 200px;
    right: 150px;
  }

  &:nth-child(1) {
    right: 150px;
  }

  @include large-screen {

    &:nth-child(n) {
      margin: 0;
      right: unset;
      height: 200px;
      width: 200px;
    }

    &:nth-child(odd) {
      right: 50%;
    }

    &:nth-child(even) {
      left: 50%;
    }

    &:last-child {
      height: 100%;
      width: 100%;
    }
  }
}

.projectsContainer {
  margin-top: -120px;
  background-size: cover;
  background: #fff;
}

.skillsIconsContainer {
  max-width: 950px;
  font-size: 75px;
  color: #fff;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: -200px;

  li {
    display: inline-block;
    margin: 0 20px;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: rgba(4, 189, 228, 1);
    }
  }
}

.displayInfo {
  color: $light-white;
  font-weight: 900;
  font-size: 60px;
  margin: 10px 100px;
  border-radius: 50px;


  @include macbook {
    padding-right: 20px;
    font-size: 45px;
  }
  @include phone {
    padding-right: 0;
    font-size: 35px;
  }
  font-family: Mosk, 'sans-serif';
}