@import "styles/variables/colors";

.homepageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.particlesContainer {
  position: relative;
}

.whoAmI {

  font-family: 'Source Code Pro', monospace;
  text-align: left;
  display: block;
  position: absolute;
  color: $light-white;
  top: 0;
  left: 50%;
  width: 90%;

  & p {
    font-weight: 500;
  }

  transform: translate(-50%, 0);
}


.rootUser {
  color: greenyellow;
  font-weight: 650;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.contactMe {
  .myInfo{
    display:inline-block ;
    &:hover{
      cursor: default;
    }
    transform: rotate(-5deg);
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    margin-bottom: 5px;
  }
  p {
    padding: 0;
    margin: 0;
  }

  color: $light-white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight:700;
  font-size: 40px;
  margin: 10px 100px;
  width: 30%;
  border-radius: 50px;
}
